<div class="container">
	<loading-indicator data="user" error="error"></loading-indicator>
	<div ng-show="user">
		Hi {{user.first_name}}!
		<br/>
		Your email address is {{user.email_address}}
		<br/>
		<br/>
		<a ui-sref="base.orders">Orders</a>
		<br/>
		<div class="row">
			<div class="col-md-4 well">
				<h2>Change Preferences</h2>
				<change-user-preferences user="user"></change-user-preferences>
			</div>
			<div class="col-md-4 col-md-offset-1 well">
				<h2>Change Password</h2>
				<change-password></change-password>
			</div>
		</div>
	</div>
</div>
