<form class="ui form" name="changePasswordForm" ng-submit="changePassword()">
  	<div class="field">
    	<label for="currentPasswordInput">Current Password</label>
    	<input type="password"
    		ng-model="data.currentPassword"
    		name="currentPasswordInput"
    		id="currentPasswordInput"
    		placeholder="Current Password"
    		required>
  	</div>
  	<div class="field">
    <label for="newPasswordInput">New Password</label>
    	<input type="password"
    		ng-model="data.newPassword"
    		name="newPasswordInput"
    		id="newPasswordInput"
    		placeholder="New Password"
    		required>
  	</div>
  	<button type="submit" class="ui button">Change Password</button>
</form>
