<div class="container">
	<div ng-hide="cart || error" class="text-center">
		<p class="lead">Loading...</p>
	</div>
	<div ng-show="error" class="col-md-6 col-md-offset-3 alert alert-warning text-center" role="alert">
		<strong>Oh snap!</strong> Something has gone wrong. Please try again.
	</div>
	<div ng-show="cart">
		Festival: {{cart.festival_id}}
		<br/>
		<table class="table">
			<th>Item Description</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Sub Total</th>
			<th>Remove</th>
			<tr ng-repeat="cartProduct in cartProducts">
				<td>{{cartProduct.product.name}}</td>
				<td>{{cartProduct.quantity}}</td>
				<td>{{cartProduct.product.price_rands}}</td>
				<td>{{cartProduct.sub_total_rands}}</td>
				<td><button class="btn btn-warning" ng-click="remove(cartProduct)">Remove</button></td>
			</tr>
		</table>
		<div class="pull-right">
			<p class="lead">
				Total: {{cart.total_rands}}
			</p>
			<button ng-click="checkout()" class="btn btn-success btn-lg">Secure Checkout</button>
		</div>
	</div>
</div>
