<div class="container">
	<loading-indicator data="cart && cartProducts" error="error"></loading-indicator>
	<div ng-show="cart && cartProducts && !cartProducts.length">
		<div class="text-center">
			<p class="lead">
				Your cart is empty
			</p>
			<button class="btn btn-primary" ui-sref="base.store.products">
				Continue shopping
			</button> 
		</div>
	</div>
	<div ng-show="cart && cartProducts.length">
		Festival:
		<ui-select ng-model="selectedFestival" on-select="updateSelectedFestival($item, $model)">
		    <ui-select-match placeholder="Select a festival">
		        <span ng-bind="$select.selected.name + ' ' + ($select.selected.starts_on | date: 'yyyy')"></span>
		    </ui-select-match>
		    <ui-select-choices repeat="festival in (festivals | filter: $select.search) track by festival.id">
		        <span ng-bind="festival.name + ' ' + (festival.starts_on | date: 'yyyy')"></span>
		    </ui-select-choices>
		</ui-select>
		<br/>
		<table class="table">
			<th>Item Description</th>
			<th class="col-sm-1">Quantity</th>
			<th>Unit Price</th>
			<th>Sub Total</th>
			<th>Remove</th>
			<tr ng-repeat="cartProduct in cartProducts">
				<td>{{cartProduct.product.name}}</td>
				<td>	
					<div class="input-group">
					  	<input max="20" min="1" type="number" ng-model="cartProduct.quantity">
					</div>
				</td>
				<td><rands amount-rands="cartProduct.product.price_rands"></rands></td>
				<td><rands amount-rands="cartProduct.sub_total_rands"></rands></td>
				<td><button class="btn btn-warning" ng-click="removeCartProduct(cartProduct)">Remove</button></td>
			</tr>
		</table>
		<div class="pull-right">
			<p class="lead">
				Total: <rands amount-rands="cart.total_rands"></rands>
			</p>
			<button ng-click="updateCartProducts(cartProducts)" class="btn btn-info btn-lg">Update</button>
			<button ng-click="checkout()" class="btn btn-success btn-lg">Secure Checkout</button>
		</div>
	</div>
</div>
