<form class="ui form" name="changePreferencesForm" ng-submit="changeUserPreferences()">
  	<div class="field">
    	<label for="firstnameInput">First Name</label>
    	<input type="text"
    		ng-model="tmp.first_name"
    		name="firstnameInput"
    		id="firstnameInput">
  	</div>
  	<div class="field">
    	<label for="LastnameInput">Last Name</label>
    	<input type="text"
    		ng-model="tmp.last_name"
    		name="LastnameInput"
    		id="LastnameInput" >
  	</div>
  	<button type="submit" class="ui button">Save</button>
</form>
