<form name="changePreferencesForm" ng-submit="changeUserPreferences()">
  	<div class="form-group">
    	<label for="firstnameInput">First Name</label>
    	<input type="text" 
    		class="form-control" 
    		ng-model="user.first_name" 
    		name="firstnameInput" 
    		id="firstnameInput">
  	</div>
  	<div class="form-group">
    	<label for="LastnameInput">Last Name</label>
    	<input type="text" 
    		class="form-control" 
    		ng-model="user.last_name" 
    		name="LastnameInput" 
    		id="LastnameInput" >
  	</div>
  	<button type="submit" class="btn btn-default">Save</button>
</form>
