<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div ng-show="errors.connection_error" class="alert alert-warning" role="alert">
			<b>Oh snap!</b> There was a connection error.
			Please try again.
		</div>
		<div ng-show="errors.auth_error" class="alert alert-warning" role="alert">
			<b>Oh dear!</b> Incorrect email address and password combination.
			Please try again.
		</div>
		<div ng-show="errors.unknown_error" class="alert alert-warning" role="alert">
			<b>Crap!</b> There was an unknown error.
			Please try again.
		</div>
		<div ng-show="redirectReason" class="alert alert-warning" role="alert">
			{{redirectMessage}}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4 well">
		<form ng-submit="signin()">
		  	<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" ng-model="user.email_address" id="exampleInputEmail1" placeholder="Email" ng-required="true">
		  	</div>
		  	<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" ng-model="user.password" id="exampleInputPassword1" placeholder="Password" ng-required="true">
		  	</div>
		  	<button type="submit" class="btn btn-default btn-block">
			  	<span ng-show="is_loading">Loading...</span>
			  	<span ng-show="!is_loading">Sign in</span>
		  	</button>
		</form>
		<a ui-sref="base.forgot-password">Forgot password</a>
	</div>
</div>