<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="base.landing">FestEasy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="base.festivals" ui-sref-opts="{reload:true}">Festivals</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="base.how-it-works" ui-sref-opts="{reload:true}">How It Works</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="authService.isAuthenticated()" ui-sref-active="active">
          <a ui-sref="base.account" ui-sref-opts="{reload:true}">Account</a>
        </li>
        <li ng-show="authService.isAuthenticated()" ui-sref-active="active">
          <a ng-controller="signoutController" ng-click="signout()">Sign out</a>
        </li>
        <li ng-hide="authService.isAuthenticated()" ui-sref-active="active">
          <a ui-sref="base.signin" ui-sref-opts="{reload:true}">Sign in</a>
        </li>
        <li ng-hide="authService.isAuthenticated()" ui-sref-active="active">
          <a ui-sref="base.signup" ui-sref-opts="{reload:true}">Sign up</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
