<div class="ui fixed menu">
  <div class="ui container">
    <div class="header item">
      <a ui-sref="base.landing">FestEasy</a>
    </div>
    <a class="item"
      ng-class="{'active': state.includes('base.festivals')}"
      ui-sref="base.festivals"
      ui-sref-opts="{reload:true}">
      Festivals
    </a>
    <a class="item"
      ui-sref="base.store.products"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.store')}" >
      Store
    </a>
    <a class="item"
      ui-sref="base.how-it-works"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.how-it-works')}" >
      How It Works
    </a>
    <a class="item"
      ui-sref="base.account"
      ng-show="isAuthenticated()"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.account')}">
      Account
    </a>
    <a class="item"
      ui-sref="base.cart"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.cart')}">
      Cart
    </a>
    <a class="item"
      style="cursor: pointer;"
      ng-show="isAuthenticated()"
      ng-controller="signoutController"
      ng-click="signout()">
      Sign out
    </a>
    <a class="item"
      ng-hide="isAuthenticated()"
      ui-sref="base.signin"
      ui-sref-opts="{reload:true}">
      Sign in
    </a>
    <a class="item"
      ng-hide="isAuthenticated()"
      ui-sref="base.signup"
      ui-sref-opts="{reload:true}">
      Sign up
    </a>
  </div>
</div>
