<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      <a ui-sref="base.landing">FestEasy Admin</a>
    </div>
    <a class="item"
      ng-class="{'active': state.includes('base.whatToBuy')}"
      ui-sref="base.whatToBuy.overview"
      ui-sref-opts="{reload:true}">
      What To Buy
    </a>
    <a class="item"
      ui-sref="base.stock.overview"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.stock')}" >
      Stock
    </a>
    <a class="item"
      ui-sref="base.orders.overview"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.orders')}" >
      Orders
    </a>
    <a class="item"
      ui-sref="base.packages.overview"
      ui-sref-opts="{reload:true}"
      ng-class="{'active': state.includes('base.packages')}">
      Packages
    </a>
    <a class="item"
      ui-sref="base.users"
      ng-class="{'active': state.includes('base.users')}"
      ui-sref-opts="{reload:true}">
      Users
    </a>
    <a class="item"
      ui-sref="base.products.overview"
      ng-class="{'active': state.includes('base.products')}"
      ui-sref-opts="{reload:true}">
      Products
    </a>
    <a class="item"
      ui-sref="base.festivals.overview"
      ng-class="{'active': state.includes('base.festivals')}"
      ui-sref-opts="{reload:true}">
      Festivals
    </a>
    <a class="right item"
      style="cursor: pointer;"
      ng-show="isAuthenticated()"
      ng-controller="signoutController"
      ng-click="signout()">
      Sign out
    </a>
    <a class="right item"
      ng-hide="isAuthenticated()"
      ui-sref="base.signin"
      ui-sref-opts="{reload:true}">
      Sign in
    </a>
  </div>
</div>
