<navbar></navbar>

Test cache busting.

<div class="top-section">
	<img class="logo-image img-responsive center-block" alt="FestEasy logo" src="app/assets/images/logo.png"/>
	<h1 class="text-center">FESTIVALS, EASIER</h1>
	<h2 class="text-center">CHILLING' ON THE DOORSTEP X FOR YOUR CONVENIENCE</h2>
</div>

<div class="about-section">
	<div class="text">
		<p class="lead text-center">
			<span>When crossing the entrance barrier to an outdoor music festival,</span>
			<br/>
			<span>you experience a collective lushness, you are ready to lead a new exciting life...</span>
			<br/>
			<span>The days, if not weeks, of planning have all lead to this moment.</span>
			<br/>
			<span>A deeply compressed, churning ball of energy sits in your chest, waiting to explode...</span>
			<br/>
			<br/>
			<span>Why dampen that on anything less than the pure blast of adventure which awaits you?</span>
			<br/>
			<br/>
			<span>Eliminate the inevitable struggle of organizing...</span>
		</p>
		<img class="logo-image img-responsive center-block" alt="FestEasy logo" src="app/assets/images/logo.png"/>
		<p class="lead text-center">
			AT THE GIANT LEAP WHEN YOU ARE...
		</p>
	</div>
</div>

<div class="festivals-section">
	<h1 class="text-center">DABBLE IN A FESTIVAL</h1>
	<div class="text">
		<p class="lead text-center">
			<span>We offer our services to every major festival in the Western Cape.</span>
			<br/>
			<span>As our customers grow, </span>
			<br/>
			<span>so will our festival selection as we aim to move to every festival in South Africa</span>
			<br/>
			<span> and… the World.</span>
		</p>
	</div>
</div>