<div class="page-header">
    <h1 class="text-center">Login</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 well well-xl">
            <div>
                <form class="form-container" role="form" name="loginForm" autocomplete="on">
                  
                    <div class="form-group">
                        <label for="signinInputEmail">Email Address</label>
                        <input name="email" type="email" class="form-control input-lg" id="signinInputEmail" autocomplete="on" placeholder="john@example.com" autofocus ng-model="email_address">
                    </div>
                  
                    <div class="form-group">
                        <label for="signinInputPassword">Password</label>
                        <input name="password" type="password" class="form-control input-lg" id="signinInputPassword" placeholder="Password" autocomplete="on" ng-model="password">
                    </div>

                    <div class="text-danger" ng-show="signin_form.is_auth_error">
                        <p>The email address or password you entered is incorrect. Please try again.</p>
                    </div>

                    <div class="clearfix"></div>

                    <button id="loginButton" data-loading-text="Signing in..." class="btn btn-lg btn-primary btn-block" ng-click="signin(loginForm)">Login</button>
                </form>

            </div>
        </div>

    </div>
</div>
