<loading-indicator data="orders" error="error"></loading-indicator>
<div class="ui segment" ng-show="orders">
	<h2 class="ui header">Orders</h2>
	<div ng-show="!orders.length">
		No orders
	</div>
	<div ng-show="orders.length">
		<table class="ui table">
			<thead>
				<th>ID</th>
				<th>Festival</th>
				<th>Total</th>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td><a ui-sref="base.order({orderId: order.id})">{{order.id}}</a></td>
					<td>{{order.festival.name + ' ' + (order.festival.starts_on | date: 'yyyy')}}</td>
					<td><rands amount-rands="order.total_rands"></rands></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
