<div class="ui centered grid">
	<div>
		<div ng-show="errors.connection_error" class="alert alert-warning" role="alert">
			<b>Oh snap!</b> There was a connection error.
			Please try again.
		</div>
		<div ng-show="errors.duplicate_error" class="alert alert-warning" role="alert">
			<b>Hold on!</b> This email address has already been registered.
			Please try again.
		</div>
		<div ng-show="errors.unknown_error" class="alert alert-warning" role="alert">
			<b>Crap!</b> There was an unknown error.
			Please try again.
		</div>
	</div>
</div>

<div class="ui two column centered grid">
	<div class="ui column">
		<div class="ui two column middle aligned very relaxed stackable grid segment" ng-class="{'loading': isLoading}">
		  <div class="column">
				<form ng-submit="signup()" class="ui form">
					<div class="field">
						<label for="inputFirstName">First Name</label>
						<input type="text" ng-model="user.first_name" id="inputFirstName" placeholder="first name" ng-required="true">
				  </div>
			  	<div class="field">
						<label for="inputEmail">Email address</label>
						<input type="email" ng-model="user.email_address" id="inputEmail" placeholder="Email" ng-required="true">
			  	</div>
			  	<div class="field">
						<label for="inputPassword">Password</label>
						<input type="password" ng-model="user.password" id="inputPassword" placeholder="Password" ng-required="true">
			  	</div>
			  	<button type="submit" class="ui button">
			  		<span ng-show="isLoading">Loading...</span>
				  	<span ng-show="!isLoading">Sign up</span>
			  	</button>
				</form>
			</div>
			<div class="ui vertical divider">
		    Or
		  </div>
		  <div class="center aligned column">
				<button ng-click="authenticate('facebook')" class="ui facebook button">
					<i class="facebook icon"></i>
					Sign in with Facebook
				</button>
		  </div>
		</div>
		<p>
			<a ui-sref="base.signin">Already have an account? Sign in.</a>
		</p>
	</div>
</div>
