SQLALCHEMY_DATABASE_URI = 'sqlite:///app.db'
EMAILER_BACKEND = 'MailgunEmailer'
MAILGUN_DOMAIN = 'mg.festeasy.co.za'
MAILGUN_API_KEY = '123'
PAYU_SET_TRANSACTION_URL = 'https://staging.payu.co.za/service/PayUAPI?wsdl'
