SQLALCHEMY_DATABASE_URI = 'sqlite:///app.db'
EMAILER_BACKEND = 'MailgunEmailer'
MAILGUN_DOMAIN = 'mg.festeasy.co.za'
MAILGUN_API_KEY = '123'
PAYU_SET_TRANSACTION_URL = 'https://staging.payu.co.za/service/PayUAPI?wsdl'
PAYU_NOTIFICATION_URL = 'http://localhost:5000/webhooks/payu-ipn'
PAYU_SOAP_USERNAME = 'Staging Integration Store 3'
PAYU_SOAP_PASSWORD = 'WSAUFbw6'
PAYU_SOAP_API_KEY = '{07F70723-1B96-4B97-B891-7BF708594EEA}'
