.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

body {
	background-color: #F2F2F2
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
