<navbar></navbar>

<div style="padding-top:55px;" class="ui main container" ui-view></div>

 <footer class="footer" style="padding-top: 30px">
  	<div class="container" >
    	<h4 class="text-muted">Festivals</h4>
    	<a href="https://festeasy-staging.firebaseapp.com/festivals">Offerings</a>
    	<br>
    	<a href="Error">Map</a>
    	<h4>Shop</h4>
    	<a href="https://festeasy-staging.firebaseapp.com/store/products">All</a>
    	<br>
    	<a href="Error">Camping</a>
    	<br>
    	<a href="https://festeasy-staging.firebaseapp.com/store/products?category=Food">Food</a>
    	<br>
    	<a href="https://festeasy-staging.firebaseapp.com/store/products?category=Beer">Booze</a>
    	<br>
    	<a href="Error">Accesories</a>
    	<br>
    	<a href="Error">Offerings</a>
    	<br>
    	<a href="https://www.erowid.org/" style="padding-bottom: 30px">Things You Hold Dearest</a>

  	</div>
</footer>

