<loading-indicator data="product" error="error"></loading-indicator>
<div ng-show="product" class="ui segment">
	<h2 class="ui header">Product {{product.id}}</h2>
	<form class="ui form" ng-submit="updateProduct(product)">
		<div class="field">
	    	<label for="inputName">ID</label>
	      <input type="text" class="form-control" ng-model="product.id" id="inputName" disabled>
	  	</div>
	  	<div class="field">
	    	<label for="inputName">Name</label>
	      <input type="text" class="form-control" ng-model="product.name" id="inputName" placeholder="Email">
	  	</div>
	  	<div class="field">
	    	<label for="inputDescription">Description</label>
	    	<textarea class="form-control" rows="3" ng-model="product.description"></textarea>
	  	</div>
	  	<div class="field">
	    	<label for="inputPrice">Price</label>
	      <input type="text" class="form-control" ng-model="product.price_rands" id="inputPrice" disabled>
	  	</div>
	  	<div class="field">
	    	<label for="inputCost">Cost</label>
	      <input type="text" class="form-control" ng-model="product.cost_rands" id="inputCost" disabled>
	  	</div>
	  	<div class="field">
	      <button type="submit" class="ui button">Save</button>
	  	</div>
	</form>
</div>
