<loading-indicator data="products" error="error"></loading-indicator>
<div ng-show="products">
	<table class="table table-hover">
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Cost</th>
		<th>Price</th>
		<tr style="cursor: pointer;" ui-sref="base.products.product({productId:product.id})" ng-repeat="product in products">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td><rands amount-rands="product.cost_rands"></rands></td>
			<td><rands amount-rands="product.price_rands"></rands></td>
		</tr>
	</table>
</div>
