<div class="ui segment">
	<h2 class="ui header">Create new Product</h2>
	<form class="ui form" ng-submit="createProduct(product)">
	  	<div class="field">
	    	<label for="inputName">Name</label>
	      <input type="text" class="form-control" ng-model="product.name" id="inputName">
	  	</div>
	  	<div class="field">
	    	<label for="inputDescription">Description</label>
	    	<textarea class="form-control" rows="3" ng-model="product.description"></textarea>
	  	</div>
			<div class="field">
				<label>Price (Rands)</label>
				<input type="number" ng-model="product.price_rands">
			</div>
	  	<div class="field">
	      <button type="submit" class="ui button">Create</button>
	  	</div>
	</form>
</div>
