<loading-indicator data="orderProducts && festivals" error="false"></loading-indicator>
<div ng-show="orderProducts && festivals">
	For Festival:
	<ui-select ng-model="selectedFestival" on-select="updateSelectedFestival($item, $model)">
	    <ui-select-match placeholder="Select a festival">
	        <span ng-bind="$select.selected.name + ' ' + ($select.selected.starts_on | date: 'yyyy')"></span>
	    </ui-select-match>
	    <ui-select-choices repeat="festival in (festivals | filter: $select.search) track by festival.id">
	        <span ng-bind="festival.name + ' ' + (festival.starts_on | date: 'yyyy')"></span>
	    </ui-select-choices>
	</ui-select>
	<br/>
	<ul>
	  	<li ng-repeat="(key, value) in orderProducts | groupBy: 'product.id'">
	    	<p><b>Product:</b> {{ value[0].product.name }}</p>
	    	<p><b>Amount to buy:</b> {{value.length}}</p>
	    	<br/>
	  	</li>
	</ul>
</div>
