<loading-indicator data="data" error="error"></loading-indicator>
<div ng-show="data">
	For Festival:
	<ui-select ng-model="selectedFestival" on-select="updateSelectedFestival($item, $model)">
	    <ui-select-match placeholder="Select a festival">
	        <span ng-bind="$select.selected.name + ' ' + ($select.selected.starts_on | date: 'yyyy')"></span>
	    </ui-select-match>
	    <ui-select-choices repeat="festival in (festivals | filter: $select.search) track by festival.id">
	        <span ng-bind="festival.name + ' ' + (festival.starts_on | date: 'yyyy')"></span>
	    </ui-select-choices>
	</ui-select>
	<br/>
	<table class="table table-bordered table-hover">
		<tr>
			<th>Product</th>
			<th>Demand</th>
			<th>Packaged</th>
			<th>Available In Stock</th>
			<th>To buy</th>
		<tr ng-class="{'warning': entry.toBuy > 0}" ng-repeat="entry in data">
    	<td>{{entry.productName}}</td>
    	<td>{{entry.demand}}</td>
			<td>{{entry.packagedStockUnits}}</td>
			<td>{{entry.availableStockUnits}}</td>
			<td>{{entry.toBuy}}</td>
  	</tr>
	</table>
</div>
