<div class="container-fluid">
	<loading-indicator data="order && packages && data" error="error"></loading-indicator>
	<div ng-show="order && packages && data">
		<div class="row">
			<h1>Order {{order.id}}</h1>
      <div class="row">
    	  <label for="inputName" class="col-sm-3 control-label">ID</label>
      	<div class="col-sm-9">
          <span>{{order.id}}</span>
      	</div>
      </div>
      <div class="row">
    	  <label for="inputName" class="col-sm-3 control-label">Created On</label>
      	<div class="col-sm-9">
          <span>{{order.created_on}}</span>
      	</div>
      </div>
      <div class="row">
    	  <label for="inputName" class="col-sm-3 control-label">Festival</label>
      	<div class="col-sm-9">
          <span><a ui-sref="base.festivals.overview">{{order.festival.name}}</a></span>
      	</div>
      </div>
			<div class="row">
    	  <label for="inputName" class="col-sm-3 control-label">User</label>
      	<div class="col-sm-9">
          <span><a ui-sref="base.users">{{order.user_id}}</a></span>
      	</div>
      </div>
		</div>
		<div class="row">
			<h2>Products</h2>
			<table ng-table="tableParams" class="table" show-filter="true">
		    <tr ng-repeat="entry in $data">
		        <td title="'Product'" filter="{productName: 'text'}" sortable="'productName'">
		          {{entry.productName}}
						</td>
		        <td title="'Demand'" filter="{demand: 'number'}" sortable="'demand'">
		          {{entry.demand}}
						</td>
						<td title="'Packaged'" filter="{packaged: 'number'}" sortable="'packaged'">
							{{entry.packaged}}
						</td>
						<td title="'Available in stock'" filter="{availableStockUnits: 'number'}" sortable="'availableStockUnits'">
							{{entry.availableStockUnits}}
						</td>
						<td title="'To pack'" filter="{toPack: 'number'}" sortable="'toPack'">
							{{entry.toPack}}
						</td>
		    </tr>
			</table>
		</div>
		<div class="row">
			<h2>Packages</h2>
			<p ng-show="packages.length == 0" class="lead">This order has no packages yet.</p>
			<table ng-show="packages.length > 0" ng-table="packagesTableParams" class="table" show-filter="true">
		    <tr ng-repeat="entry in $data">
	        <td title="'ID'" filter="{id: 'number'}" sortable="'id'">
	          <a ui-sref="base.packages.package({packageId: entry.id})">{{entry.id}}</a>
					</td>
	        <td title="'Date Added'" filter="{created_on: 'text'}" sortable="'created_on'">
	          {{entry.created_on}}
					</td>
					<td title="'Delete'">
						<button class="btn btn-warning" ng-click="deletePackage(entry)">Delete</button>
					</td>
		    </tr>
			</table>
			<button class="btn btn-success" ng-click="createPackage()">Create Package</button>
		</div>
	</div>
</div>
