<loading-indicator data="orders" error="false"></loading-indicator>
<div ng-show="orders">
	<div class="row">
		<p class="lead">Orders:</p>
		<div>
			<table class="table table-hover table-bordered">
				<th>ID</th>
				<th>Date added</th>
				<th>Festival</th>
				<th>Total Rands</th>
				<tr ng-repeat="order in orders">
					<td>{{order.id}}</td>
					<td>{{order.created_on}}</td>
					<td>{{order.festival.name}}</td>
					<td><rands amount-rands="order.total_rands"></rands></td>
				</tr>
			</table>
		</div>
	</div>
</div>
