<div class="container-fluid" ng-show="orders">
	<loading-indicator data="orders" error="false"></loading-indicator>
	<div class="row">
		<h1>Orders</h1>
		<table class="table table-hover table-bordered">
			<th>ID</th>
			<th>Date added</th>
			<th>Festival</th>
			<th>Total Rands</th>
			<tr ng-repeat="order in orders">
				<td><a ui-sref="base.orders.order({orderId: order.id})">{{order.id}}</a></td>
				<td>{{order.created_on}}</td>
				<td><a ui-sref="base.festivals.overview">{{order.festival.name}}</a></td>
				<td><rands amount-rands="order.total_rands"></rands></td>
			</tr>
		</table>
	</div>
</div>
