<div class="ui two column centered grid">
	<div class="ui segment column">
		<h1 class="ui center aligned header">Forgot Password</h1>
		<p class="ui center aligned">Enter your email address below.</p>
		<br/>
		<form class="ui form" ng-submit="sendPasswordRecoveryEmail(emailAddress)">
	  	<div class="field">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" ng-model="emailAddress" id="exampleInputEmail1" placeholder="Email" ng-required="true">
	  	</div>
	  	<p>{{message}}</p>
	  	<button type="submit" class="ui button">
		  	<span>Send recovery email</span>
	  	</button>
		</form>
	</div>
</div>
