<form class="ui form" ng-submit="search()">
	<div class="field">
    <input type="text" ng-model="searchTerm" id="exampleInputAmount" placeholder="{{placeholder}}">
	</div>
	<button type="submit" class="ui blue basic button">Search</button>
</form>
<hr/>
<loading-indicator data="products" error="error"></loading-indicator>
<div ng-show="products">
	<div ng-show="!products.length">
		<p>
			No results
		</p>
	</div>
	<div class="ui segment" ng-repeat="product in products">
		<h4 class="ui header">
			<a
				ui-sref="base.store.product({productId: product.id})"
				ui-sref-opts="{inherit: false}">
				{{product.name}}
			</a>
		</h4>
		<p>{{product.description}}</p>
		<p><rands amount-rands="product.price_rands"></rands></p>
		<add-to-cart-button product="product"></add-to-cart-button>
	</div>
</div>
