<div class="container">
	<loading-indicator data="products" error="error"></loading-indicator>
	<div ng-show="products">
		<ul class="nav nav-tabs nav-justified">
			<li role="presentation">
				<a ui-sref="base.store" ui-sref-opts="{reload: true, inherit: false}">All</a>
			</li>
			<li role="presentation">
				<a ui-sref="base.store({category:'food'})" ui-sref-opts="{reload: true}">Food</a>
			</li>
			<li role="presentation">
				<a ui-sref="base.store({category:'drinks'})" ui-sref-opts="{reload: true}">Drinks</a>
			</li>
			<li role="presentation">
				<a ui-sref="base.store({category:'beer'})" ui-sref-opts="{reload: true}">Beer</a>
			</li>
		</ul>
		<form class="form-inline" ng-submit="search()">
		  	<div class="form-group">
		    	<div class="input-group">
		      		<input type="text" class="form-control" ng-model="searchTerm" id="exampleInputAmount" placeholder="{{placeholder}}">
		    	</div>
		  	</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
		<br/>
		<div class="well col-md-3 col-md-offset-1" ng-repeat="product in products">
			<p class="lead"><a ui-sref="base.product({productId: product.id})">{{product.name}}</a></p>
			<p>{{product.description}}</p>
			<p>{{product.price_rands}}</p>
			<add-to-cart-button product="product"></add-to-cart-button>
		</div>
	</div>
</div>
