<loading-indicator data="categories" error="error"></loading-indicator>
<div class="ui grid" ng-show="categories">
	<div class="four wide column">
		<div class="ui vertical pointing menu">
		  <a ng-class="{'active': currentCategory == null}"
				class="item"
				ui-sref="base.store.products"
				ui-sref-opts="{reload: true, inherit: false}"
				>
				All
		  </a>
		  <a class="item"
				ng-repeat="category in categories"
				ui-sref="base.store.products({category: category.name})"
				ui-sref-opts="{reload: true, inherit: false}"
				ng-class="{'active': currentCategory == category.name}"
				>
				{{category.name}}
		  </a>
		</div>
	</div>
	<ui-view class="ten wide column"></ui-view>
</div>
