<div class="ui center aligned grid">
	<div class="row">
		<div class="ui small ordered steps">
			<a class="step" ui-sref="base.cart">
				<div class="content">
					<div class="title">Cart</div>
					<div class="description">Choose products and festival</div>
				</div>
			</a>
			<a class="step" ng-class="{'active': state.is('base.checkout.details')}" ui-sref="base.checkout.details">
				<div class="content">
					<div class="title">Checkout Details</div>
					<div class="description">View checkout details</div>
				</div>
			</a>
			<div class="step" ng-class="{'active': state.is('base.checkout.payment')}">
				<div class="content">
					<div class="title">Payment</div>
					<div class="description">Enter payment information</div>
				</div>
			</div>
			<div class="step" ng-class="{'active': state.is('base.checkout.confirm-order')}">
				<div class="content">
					<div class="title">Confirmation</div>
					<div class="description">Verify order</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ui-view></ui-view>
