<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<loading-indicator data="cart && festival && cartProducts" error="error"></loading-indicator>
		<div ng-show="cart && festival && cartProducts">
			<p class="lead">
				Order for {{festival.name + ' ' + (festival.starts_on | date: 'yyyy')}}
			</p>
			<div>
				<p>Starts: {{festival.starts_on | date: "EEEE, d MMMM yyyy"}}</p>
				<p>Ends: {{festival.ends_on | date: "EEEE, d MMMM yyyy"}}</p>
			</div>
			<br/>
			<table class="table">
				<th>Item Description</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Sub Total</th>
				<tr ng-repeat="cartProduct in cartProducts">
					<td>{{cartProduct.product.name}}</td>
					<td>{{cartProduct.quantity}}</td>
					<td><rands amount-rands="cartProduct.product.price_rands"></rands></td>
					<td><rands amount-rands="cartProduct.sub_total_rands"></rands></td>
				</tr>
			</table>
			<div class="pull-right">
				<p class="lead">
					Total: <rands amount-rands="cart.total_rands"></rands>
				</p>
				<button ng-click="checkout()" class="btn btn-success btn-lg">Place order</button>
			</div>
		</div>
	</div>
</div>
