<loading-indicator data="festivals" error="error"></loading-indicator>
<div class="ui segment" ng-show="festivals">
	<h2 class="ui header">Festivals</h2>
	<table class="ui selectable celled table">
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Starts</th>
			<th>Ends</th>
		</thead>
		<tbody>
			<tr ui-sref="base.products.product({productId:product.id})" ng-repeat="festival in festivals">
				<td>{{festival.id}}</td>
				<td>{{festival.name}}</td>
				<td>{{festival.description}}</td>
				<td>{{festival.starts_on | date:'medium'}}</td>
				<td>{{festival.ends_on | date:'medium'}}</td>
			</tr>
		</tbody>
	</table>
</div>
